.method-2__button {
  background: transparent;
  color: #FF79C6;
  border: 0.2em solid #FF79C6;
  border-radius: 0.25em;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em 1em;
}

.method-2__button:hover {
  background: #FF79C6;
  color: white
}